<!DOCTYPE html>
<html lang="en">
<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>
</head>
<body>
<h1>Sport Playlist:</h1>
<table>
    <tr>
        <th>
            Song
        </th>
        <th>
            Play
        </th>
    </tr>
    {% for key, value in songs_pathes.items() %}
    <tr>
        <td>
            {{key}}
        </td>
        <td>
            <div id="{{key}}"  class="media">
               <audio controls>
                <source src="{{value}}" type="audio/mpeg">
               </audio>
            </div>

        </td>

   </tr>
   {% endfor %}
    </table>

</body>
</html>